<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .body_div{
            text-align: center ;
            font-family: "Times New Roman", Times, serif;
            font-size: 100px;
            padding: 100px;
            }

    </style>

</head>
<body>
<div class="header_div">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">SCHOOL</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
        </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">CLASS
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% for each_cls in classes %}
                <li><a href="{% url 'details' cls=each_cls.id %}">{{ each_cls }}</a></li>

        {% endfor %}
            </ul>
        </li>

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">STAFF TIMETABLE
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'staff' stf='1' %}">STAFF 1 </a></li>
                <li><a href="{% url 'staff' stf='2' %}">STAFF 2 </a></li>
                <li><a href="{% url 'staff' stf='3' %}">STAFF 3 </a></li>
                <li><a href="{% url 'staff' stf='4' %}">STAFF 4 </a></li>
                <li><a href="{% url 'staff' stf='5' %}">STAFF 5 </a></li>
                <li><a href="{% url 'generate_table' %}">Create Timetable</a></li>

            </ul>
        </li>
                    </ul>
        </div>

    </div>
</nav>
</div>
<div class="body_div">
    SCHOOL </BR> MANAGEMENT
</div>

</body>
</html>