<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .classname{
        color: #737373;
        }
        h2{
        color: #737373;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="{% url 'index' %}">STUDENT</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
    {% for each_cls in list_class_instance %}
        <ul class="nav navbar-nav">
            <li><a href="{% url 'details' cls=each_cls.id %}">{{ each_cls }}</a></li>
        </ul>
    {% endfor %}
        </div>
    </div>
</nav>

<center><h1 class="classname">{{ individual_class_instance.class_name }}</h1></center>

<center><h2>STUDENT DETAILS</h2></center>
<table class="table table-striped">
    <tr>
        <th>STUDENT NAME</th>
        <th><a href="{% url 'subject_sort' cls=individual_class_instance.id subject='TAMIL' %}">TAMIL</a></th>
        <th><a href="{% url 'subject_sort' cls=individual_class_instance.id subject='ENGLISH' %}">ENGLISH</a></th>
        <th><a href="{% url 'subject_sort' cls=individual_class_instance.id subject='MATHS' %}">MATHS</a></th>
        <th><a href="{% url 'subject_sort' cls=individual_class_instance.id subject='SCIENCE' %}">SCIENCE</a></th>
        <th><a href="{% url 'subject_sort' cls=individual_class_instance.id subject='SOCIAL' %}">SOCIAL</a></th>
        <th>TOTAL</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>

    {% for key,value in cls_std_sub.items %}
        <tr>
            <td>
                {{ key.student_name }}
            </td>
            {% for std_subjects in value %}

                <td>

                        {{ std_subjects.subject_mark }}


                </td>

            {% endfor %}
            <td>
                {% if key.get_total_mark == 0 %}
                  --
                {% else %}
                    {{ key.get_total_mark }}
                {% endif %}

            </td>
            <td><a href="{% url 'addmark' std=key.id %}"><u>Update</u></a></td>
                <td><a href="{% url 'delete' std=key.id %}"><u>Delete</u></a></td>
        </tr>
    {% endfor %}

</table>
<center>
<input type="button" onclick="window.location.href='{% url 'add_student' cls=individual_class_instance.id %}'"
       value="ADD STUDENT" class="btn btn-primary"></br>
    <a href="{% url 'generator' cls=individual_class_instance.id %}">ADD GROUP OF STUDENTS </a>
    </center>

<center><h2>TIME TABLE</h2></center>
<table class="table table-striped">
    <tr>
    <th>DAY</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    </tr>

    {% for i in days %}
        <tr>
            <td>{{ i }}</td>
            {% for new in class_timetable.values|slice:"0:6" %}
                <td>STAFF &nbsp;&nbsp;{{ new }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>
</br>
</br>
</body>
</html>